@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

.card {
  max-width: 768px;
  margin: 20px auto;
}

.letterInput {
  height: 50px;
  width: 50px;
  border: 1px solid;
  margin: 3px;
  text-align: center;
  padding: 3px;
  border-radius: 0.2rem;
  color: #1b1e21;
  background-color: #fefefe;
  border-color: #c6c8ca;
  font-weight: light;
  font-size: 1.25em;
}

.letterInput:disabled {
  pointer-events: none;
}

.inputIndexMatch {
  color: #ffffff;
  background-color: #155724;
  border-color: #155724;
}

.inputIndexInWord {
  color: #ffffff;
  background-color: orange;
  border-color: orange;
}

.inputIndexNone {
  color: #1b1e21;
  background-color: #fefefe;
  border-color: #c6c8ca;
}

.btnFooter button {
  margin: 5px;
}
