@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.main {
  margin: 50px auto;
}

.letterInput {
  height: 50px;
  width: 50px;
  border: 1px solid;
  margin: 3px;
  text-align: center;
  padding: 3px;
  border-radius: 0.2rem;
  color: #1b1e21;
  background-color: #fefefe;
  border-color: #000000;
  font-weight: bold;
  font-size: 1.25em;
}

.letterInput:disabled {
  pointer-events: none;
}

.inputIndexMatch {
  background-color: #21ba45 !important;
  color: #ffffff;

  border-color: #000000;
}

.inputIndexInWord {
  background-color: #f2711c !important;
  color: #ffffff;
  border-color: #000000;
}

.inputIndexNone {
  color: #1b1e21;
  background-color: #fefefe;
  border-color: #c6c8ca;
}

.btnFooter button {
  margin: 5px;
}

span.green {
  font-weight: bold;
  color: #21ba45 !important;
}

span.orange {
  font-weight: bold;
  color: #f2711c !important;
}
